streamlit
pandas
numpy<2
scikit-learn
statsmodels
matplotlib
seaborn
nbformat
ipython
ipywidgets
openpyxl
joblib
pmdarima
urllib3<2
pdfplumber
pdfminer.six
pillow
pypdfium2
pdfplumber
pdfminer.six
pillow
pypdfium2
